<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{currentTab.title}}</nz-page-header-title>
        <nz-page-header-subtitle>{{savePath}}\{{currentTab.fileName}}</nz-page-header-subtitle>
        <nz-page-header-extra>
            <button nz-button nzType="default" (click)="changePath()">选择路径</button>

            <button nz-button nzType="primary" (click)="showConfirm()">保存</button>
        </nz-page-header-extra>
        <nz-page-header-content>
            <nz-tabset (nzSelectChange)="nzSelectChange($event)">
                <nz-tab nzTitle="切割">
                    <ng-template nz-tab>
                        <app-laser-process #cuttingLaser [name]="'CuttingProcess.json'" [path]="savePath"></app-laser-process>
                    </ng-template>
                </nz-tab>
                <nz-tab nzTitle="穿孔">
                    <ng-template nz-tab>
                        <app-laser-process #piercingLaser [name]="'EdgeProcess.json'" [path]="savePath"></app-laser-process>
                    </ng-template>

                </nz-tab>
                <nz-tab nzTitle="尖角切割">
                    <ng-template nz-tab>
                        <app-laser-process #edgeLaser [name]="'PiercingProcess.json'" [path]="savePath"></app-laser-process>
                    </ng-template>


                </nz-tab>
                <nz-tab nzTitle="功率控制">
                    <ng-template nz-tab>
                        <app-laser-process #slopeLaser [name]="'SlopeProcess.json'" [path]="savePath"></app-laser-process>
                    </ng-template>

                </nz-tab>
            </nz-tabset>
        </nz-page-header-content>
    </nz-page-header>
</div>